<!DOCTYPE html>
<html ng-app="WordcountApp">
<head>
    <title>Download Client - Life at VCC</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <style>
      .container {
        max-width: 1000px;
      }

    </style>
</head>
<body ng-controller="WordcountController">
<div class="container">
    <div class="row">
        <div class="col-sm-5 col-sm-offset-1">
            <h2>Enter Password to Download</h2>
                {% with messages = get_flashed_messages() %}
                  {% if messages %}
                    <ul class=flashes>
                    {% for message in messages %}
                      <li>{{ message }}</li>
                    {% endfor %}
                    </ul>
                  {% endif %}
                {% endwith %}
            <br>
            <form method="post" action="/view-client" enctype="">
                <dl>
                    <p>
                         <div class="form-group">
                        client id: <input type="text" id="clientid" name="clientid" required>
                         </div>
                                             <div class="form-group">
                        password: <input type="password" name="password" autocomplete="off" required>
                                             </div>
                    </p>
                </dl>
                <p>
                    <input type="submit" value="Submit" onclick="">
                </p>
            </form>
        </div>
    </div>

    <br><br>
    <script src="//code.jquery.com/jquery-2.2.1.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
    <script src="{{ url_for('static', filename='main.js') }}"></script>
        <script src="{{ url_for('static', filename='populate.js') }}"></script>
</body>
</html>
